*.resS filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.resource filter=lfs diff=lfs merge=lfs -text
c9d11e5b2425853429d59490293db897 filter=lfs diff=lfs merge=lfs -text
